# Django settings
SECRET_KEY=SECRET_KEY=your-secret-key-here
DEBUG=True

DATABASE_URL=postgres://YOUR-USER@localhost:5432/publive_tester
DATABASE_SSL=false

OPENAI_API_KEY=your_openai_api_key_here

# Frontend CORS origin
FRONTEND_URL=http://localhost:5173

NEW_RELIC_LICENSE_KEY=your_new_relic_license_key_here
